In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
a = [1,2,3,4,5,6]

In [4]:
np.array(a) * 100

array([100, 200, 300, 400, 500, 600])

In [5]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [6]:
df1 = pd.DataFrame({
    'status':['sick','healthy','sick'],
    'treatment_a':[np.NaN,16,3],
    'treatment_b':[2,11,1]
})

In [7]:
df2 = pd.DataFrame({
    'status':['sick','healthy','sick'],
    'treatment_a':[None,16,3],
    'treatment_b':[2,11,1]
})

In [8]:
df1

    status  treatment_a  treatment_b
0     sick          NaN            2
1  healthy         16.0           11
2     sick          3.0            1

In [9]:
df2

    status  treatment_a  treatment_b
0     sick          NaN            2
1  healthy         16.0           11
2     sick          3.0            1

In [10]:
list1 = [x ** 2 for x in range(1,10)  if x % 2 == 0]

In [11]:
list1

[4, 16, 36, 64]

In [12]:
#Cross multipy all odd numbers

#For loop
my_list = []
for x in [1,2,3]:
    if x % 2 != 0:
        for y in [11,12,13]:
            if y % 2 != 0:
                my_list.append(x*y)
                
my_list

[11, 13, 33, 39]

In [13]:
#List comprehension
my_list2 = [x*y 
            for x in [1,2,3] if x % 2 != 0
            for y in [11,12,13] if y %2 != 0
           ]
my_list2

[11, 13, 33, 39]

In [27]:
#Zip
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ] 
roll_no = [ 4, 1, 3, 2 ] 
marks = [ 40, 50, 60, 70 ]
named = zip(name, roll_no, marks)
named = list(named)
named

[('Manjeet', 4, 40), ('Nikhil', 1, 50), ('Shambhavi', 3, 60), ('Astha', 2, 70)]

In [28]:
#unZip
nm, rno, mark = zip(*named)

In [29]:
nm

('Manjeet', 'Nikhil', 'Shambhavi', 'Astha')

In [30]:
#Dictionary comprehension
state = ['MP','UP','Telangana']
capital = ['Bhopal','Lucknow','Hyderabad']
state_capital = {states:capitals for states, capitals in zip(state, capital)}

In [31]:
state_capital

{'MP': 'Bhopal', 'UP': 'Lucknow', 'Telangana': 'Hyderabad'}

In [32]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!