In [15]:
import pandas as pd
import numpy as np

In [1]:
#invalid variable name
test-m = 5

SyntaxError: can't assign to operator (<ipython-input-1-4fc317b6e0a6>, line 2)

In [2]:
x = '5'
type(x)

str

In [3]:
print(5,1,4,10,sep='*')

5*1*4*10

In [4]:
print(1 <= 3)

True

In [5]:
x = 's'
's' + 'd' if 5 > 10 else 'a' + f'b{x}'

'abs'

In [10]:
#Add numbers 5 and 6 to existing list
x = [1,2,3,4]
#x+= [5,6]  true
#x.extend([5,6]) true
#x[len(x):] = [5,6] true
#x[-1] = [5,6] false
x

[1, 2, 3, [5, 6]]

In [11]:
#result of the below expression
5/1

5.0

In [13]:
#result of the below expression
sample_string = 'Python_101'
print([i for i in f'{sample_string}' if i not in 'aeiou'])

['P', 'y', 't', 'h', 'n', '_', '1', '0', '1']

In [14]:
#result of the below expression
sample_string = 'Python_101'
print([i for i in sample_string if i not in 'aeiou'])

['P', 'y', 't', 'h', 'n', '_', '1', '0', '1']

In [23]:
#creating a dataframe
#list of tuples
a = [('Abhishek',31), ('Anvit',2), ('Shrasti', 30)]
df1 = pd.DataFrame(a, columns = ['Name','Age'])

#list of lists
b = [['Abhishek',31], ['Anvit',2], ['Shrasti', 30]]
df2 = pd.DataFrame(b, columns = ['Name', 'Age'])

#dictonary
c = {'Name': ['Abhishek', 'Anvit', 'Shrasti'],
     'Age': [31, 2, 30]
    }
df3 = pd.DataFrame(c)

#list of dictionaries
d = [{'Name': 'Abhishek', 'Age': 31}, {'Name': 'Akash', 'Age': 24}]
df4 = pd.DataFrame(d)
df4

       Name  Age
0  Abhishek   31
1     Akash   24

In [35]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    2 non-null      object
 1   Age     2 non-null      int64
dtypes: int64(1), object(1)
memory usage: 160.0+ bytes

In [52]:
df_new = pd.DataFrame({'Name': ['Abhishek','Anvit','SHrasti'],
                      'Age': [31, 2,30],
                      'DOB': ['1989/08/01', '2019/03/30', '1990/10/16'],
                      'Gender': ['M', 'M', 'F'],
                      'Salaried' : [True, False, True]}
                     )

In [53]:
df_new['DOB2'] = pd.to_datetime(df_new['DOB'], format = '%Y/%m/%d')
df_new['Gender2'] = df_new['Gender'].astype('category')

In [54]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      3 non-null      object
 1   Age       3 non-null      int64
 2   DOB       3 non-null      object
 3   Gender    3 non-null      object
 4   Salaried  3 non-null      bool
 5   DOB2      3 non-null      datetime64[ns]
 6   Gender2   3 non-null      category
dtypes: bool(1), category(1), datetime64[ns](1), int64(1), object(3)
memory usage: 350.0+ bytes

In [56]:
help(pd.DataFrame.explode)

Help on function explode in module pandas.core.frame:

explode(self, column: Union[str, Tuple], ignore_index: bool = False) -> 'DataFrame'
    Transform each element of a list-like to a row, replicating index values.

    .. versionadded:: 0.25.0

    Parameters
    ----------
    column : str or tuple
        Column to explode.
    ignore_index : bool, default False
        If True, the resulting index will be labeled 0, 1, â€¦, n - 1.

        .. versionadded:: 1.1.0

    Returns
    -------
    DataFrame
        Exploded lists to rows of the subset columns;
        index will be duplicated for these rows.

    Raises
    ------
    ValueError :
        if columns of the frame are not unique.

    See Also
    --------
    DataFrame.unstack : Pivot a level of the (necessarily hierarchical)
        index labels.
    DataFrame.melt : Unpivot a DataFrame from wide format to long format.
    Series.explode : Explode a DataFrame from list-like columns to long format.

    Notes
    -----
    This routine will explode list-likes including lists, tuples,
    Series, and np.ndarray. The result dtype of the subset rows will
    be object. Scalars will be returned unchanged. Empty list-likes will
    result in a np.nan for that row.

    Examples
    --------
    >>> df = pd.DataFrame({'A': [[1, 2, 3], 'foo', [], [3, 4]], 'B': 1})
    >>> df
               A  B
    0  [1, 2, 3]  1
    1        foo  1
    2         []  1
    3     [3, 4]  1

    >>> df.explode('A')
         A  B
    0    1  1
    0    2  1
    0    3  1
    1  foo  1
    2  NaN  1
    3    3  1
    3    4  1