In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({
    "country": ['India', 'India', 'India', 'India', 'Australia', 'Australia', 'Australia', 'SA', 'SA', 'India', 'India'],
    "state" : ['MP', 'MP', 'MP', 'UP', 'NSW', 'NSW', 'Victoria', 'Gauteng', 'Western Cape', 'Delhi','UP'],
    "city": ['Indore', 'Bhopal', 'Jabalpur', 'Lucknow', 'Sydney', 'Newcastle', 'Melbourne', 'Johannesburg', 'Cape Town', 'Delhi', 'Noida'],
    "sales": [150, 200, 100, 100, 200, 250, 300, 300, 200, 100, 50]
})

In [ ]:
from pivottablejs import pivot_ui
pivot_ui(df)

In [ ]:
df